<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DgSuche.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DgSuche.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DgSuche.Properties.Settings>
            <setting name="DG_IndexPfad_CSV" serializeAs="String">
                <value>http://dereglobus.orkenspalter.de/public/scripts/Index.csv</value>
            </setting>
        </DgSuche.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DgSuche.Properties.Settings>
            <setting name="DG_IndexPfad_XML" serializeAs="String">
                <value>http://dereglobus.orkenspalter.de/public/scripts/Index.xml</value>
            </setting>
        </DgSuche.Properties.Settings>
    </applicationSettings>
</configuration>